
* {
    text-align: center;
}

#classNav {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.paketid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.offerCard {
    background-color: #f9f2ec;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 20px;
    width: 300px;
    height: 450px;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
    0 2px 2px rgba(0,0,0,0.12), 
    0 4px 4px rgba(0,0,0,0.12), 
    0 8px 8px rgba(0,0,0,0.12),
    0 16px 16px rgba(0,0,0,0.12);
    transition-duration: 0.8s;
}

.offerCard:hover {
    background-image: url('./../img/siblings.jpg');
    color: white;
    background-position: center; /* Center the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    /* background-color: #fbcca2; */
    transform: scale(1.02);
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
    0 2px 2px rgba(0,0,0,0.12), 
    0 4px 4px rgba(0,0,0,0.12), 
    0 10px 10px rgba(0,0,0,0.12),
    0 20px 20px rgba(0,0,0,0.12);
}


link {
    text-decoration: none;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* max-width: 900px; */
    justify-content: center;
    margin: 0 auto;
}

#elf {
    height: 500px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
    0 2px 2px rgba(0,0,0,0.12), 
    0 4px 4px rgba(0,0,0,0.12), 
    0 8px 8px rgba(0,0,0,0.12),
    0 16px 16px rgba(0,0,0,0.12);
    margin: 20px;
}

.text {
    max-width: 700px;
    margin: 0 auto;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px; */
}


.cardText {
    text-align: left;
}

.head {
    font-size: 3rem;
    color: white;
    text-shadow: 2px 1px 1px black;
    /* text-transform: uppercase; */

    display: flex;
    justify-content: center;
    align-items: center;

    height: 400px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}



.weddings {
    background-image: url('./../img/pulm.JPG');
}

.fantaasia {
    background-image: url('./../img/fantasy.JPG');
}

.pere {
    background-image: url('./../img/portree.JPG');
}