#call {
    height: 100%;
    text-align: center;
    margin: 100px 0;
    font-size: 2em;
    padding: 30px;
}

.anneliis {
    height: 100%;
    padding: 20px;
    background-color: #fceada;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.anImg {
    height: 450px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
                0 2px 2px rgba(0,0,0,0.12), 
                0 4px 4px rgba(0,0,0,0.12), 
                0 8px 8px rgba(0,0,0,0.12),
                0 16px 16px rgba(0,0,0,0.12);
}

.anIntro {
    max-width: 400px;
    margin: 20px;
}

@media only screen and (max-width: 600px) {
    #call {
        font-size: 1.5em;
        margin: 20px;
    }
  }