#call {
    height: 100%;
    text-align: center;
    margin: 100px 0;
    font-size: 2em;
    padding: 30px;
}

.anneliis {
    height: 100%;
    padding: 20px;
    background-color: #FFE4E1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.anImg {
    height: 450px;
}

.anIntro {
    max-width: 400px;
    margin: 20px;
}

@media only screen and (max-width: 600px) {
    #call {
        font-size: 1.5em;
        margin: 20px;
    }
  }